<style>
    form label, input{
        display: block;
    }
</style>

<%- include('header.ejs') %>
<%- include('leftmenu.ejs') %>


<div class="container">
    <div class="row mt-5">
        <div class="col-3">

        </div>
        <div class="col-9">
            <form method="post" action="/addjob" enctype="multipart/form-data">
                <label for="id">jobtitle</label>
                <input type="text" name="Jobtitle">

                <label for="id">City</label>
                <input type="text" name="city" placeholder="City">

                <label for="id">Package</label>
                <input type="text" name="package" placeholder="Package">

                <label for="id">Upload File</label>
                <input type="file" name="uploadfile" placeholder="Package">



                <button type="submit" class="btn btn-outline-primary">Update</button>

            </form>
        </div>
    </div>
</div>