<!-- this is dashboard index page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>


        .nav-button{
            padding: 0px;
        }
    
</style>
<body>
    <!-- header file linking -->
    <%- include('header.ejs') %>
    <%- include('leftmenu.ejs') %>

    </div>
<!-- header file linking -->


    <div class="container">
        <div class="row mt-5">
            <div class="col-3">

            </div>
            <div class="col-9">
                <p>
                    Welcome To Admin Dashboard
                </p>
            </div>
        </div>
    </div>
</body>
</html>