<style>
ul{
    padding: 0px !important;
}

    ul li{list-style: none;
          text-align: center;
          padding: 10px;
    }

    ul li a{text-decoration: none;
        font-size: 20px;
        color: white;

    }

    ul li:hover{
        background-color: rgba(128, 128, 128, 0.53);
    }
    
</style>


<!-- listing design -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leftmenu</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="background-color: black; position: fixed; height: 100vh;">
                <ul>
                    <li>
                        <a href="/add-job">Add Job</a>
                    </li>
                
                    <li>
                        <a href="/view-query">View Registration</a>
                    </li>
                
                    <li>
                        <a href="/contact">View Contact</a>
                    </li>
                
                    <li>
                        <a href="/viewproduct">View Product</a>
                    </li>

                    <li>
                        <a href="/edit_job">Edit Product</a>
                    </li>
                </ul>
            </div>

            <div class="col-9">

            </div>
        </div>
    </div>
</body>
</html>