<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="asserts/css/aboutus.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    
</head>
<body>
    <%- include('./common/header.ejs') %>
<!-- header linking -->

<!--  banner container section start -->
<div class="container-fluid fbanner">
    <div class="col-md-12 homeabout">
        <h1 style="text-align: center;  font-family: serif; color: #c0c0c0; font-size: 60px;">About Us</h1>
        <h5 style="text-align: center;  font-family: sans-serif; color: #c0c0c0; "><a class="home" href="/">Home</a> ~ About Us</h5>

    </div>


</div>
<!-- banner container section end -->

<!-- about workwave container -->
<div class="container-fluid mt-5 mainabout">
    <div class="row aboutrow">
        <div class="col-md-4 col-sm-12 about">
            <img src="asserts/images/aboutbanner.jpg">

        </div>
        <div class="col-md-6 col-sm-12 abouttext">
            <h1><span style="font-family: Protest Guerrilla, sans-serif; color: #ffa500;">workwave</span> For Your Career</h1>
            <p>Discover diverse job opportunities, personalized recommendations, and valuable resources for job seekers. For employers, streamline recruitment with targeted solutions and access top talent. Join us today and ride the wave to success!" </p>

        </div>
    </div>

</div>
<!-- about workwave container end -->

<!-- container section start -->
<div class="container-fluid experience">
    <div class="row">
        <div class="col-md-12 workwavestats mt-4">
            <h4><span style="font-family: Protest Guerrilla, sans-serif; color: #ffa500;">workwave</span> Site Stats</h4>
            <p style="color: white; text-align: center; font-weight: 700;">"Searching for your dream job just got easier with Workwave"</p>

        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6  mt-4 mb-5">
            <div class="ex">
            <img src="asserts/images/fourty-unscreen.gif" style="height: 100px; margin-left: 95px; margin-top: 50px;"><h2 style="text-align: center; font-family:serif;">Jobs Posted<br>Every<br>Hour</h2></div> </div>


        <div class="col-md-3  col-sm-6  mt-4">
            <div class="ex">
            <img src="asserts/images/twenty-five-unscreen.gif" style="height: 100px; margin-left: 95px; margin-top: 50px;"><h2 style="text-align: center; font-family: serif;">Thousand<br>Companies</h2></div></div>


        <div class="col-md-3 col-sm-6  mt-4">
            <div class="ex">
            <img src="asserts/images/ten-unscreen.gif" style="height: 100px; margin-left: 95px; margin-top: 50px;"><h2 style="text-align: center;font-family: serif;">Thousand<br>Pincodes</h2></div></div>


        <div class="col-md-3 col-sm-6 mt-4">
            <div class="ex">
            <img src="asserts/images/zero-unscreen.gif" style="height: 100px; margin-left: 95px; margin-top: 50px;"><h2 style="text-align: center;font-family: serif;">Complaints<br> Till<br> The Date</h2></div></div>


    </div>

</div>
<!-- container section end -->

<!-- workwave team container start -->
<div class="container-fluid ourteam">
    <div class="row ourteamrow">
        <div class="col-md-12">
            <h2>Our Teams</h2>

        </div>

    </div>
    
</div>
<!-- workwave team container end -->





<%- include('./common/footer.ejs') %>
<!-- footer linking -->
</body>
</html>

