<style>
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .footer{
        padding: 0px !important;
        margin: 0px !important;
    }

    .innerfooter{
        padding: 0px !important;
        margin: 0px !important;
    }
</style>


<!-- container section start -->
<div class="container-fluid footer mt-5 bg-info">
    <!-- row section start -->
    <div class="row pt-5 ms-3 innerfooter">
        <!-- social section start -->
        <div class="col-md-4 col-sm-12">
            <h3 style="font-family:'Grape Nuts',cursive;">Dashboard</h3>
            <p style="font-family: sans-serif; font-weight: 600; font-size: 15px;">Where Elegance Meets Tranquility,<br> Your Oasis of Luxury Awaits</p>

<a class="socialmedia" href="socialmedia.html"><i class="fa-brands fa-square-facebook" style="color: #00040a; font-size: 30px; margin-right: 7px;"></i></a>

<a class="socialmedia" href="socialmedia.html"><i class="fa-brands fa-x-twitter" style="color: #010813;font-size: 30px; margin-right: 7px;"></i></a>

<a class="socialmedia" href="socialmedia.html"><i class="fa-brands fa-instagram" style="color: #010813; font-size: 30px; margin-right: 7px;"></i></a>

<a class="socialmedia" href="socialmedia.html"><i class="fa-brands fa-youtube" style="color: #00040a; font-size: 30px; margin-right: 7px;  "></i></a>

        </div>
        <!-- social section end -->

        <!-- address section start -->

        <div class="col-md-4 col-sm-12 mt-4 phone">
            <h3 style="font-family: sans-serif; font-size: 18px; font-weight: 600; text-align: center;">Contact Us</h3>

            <P style="text-align: start; margin-left: 100px;">Ph.no:+91 81888773862<br>
            Gurugram<br>
        Sector-1 Pocket-7<br>
    Dwarka Sector-24<br>
New Delhi,India</P>

        </div>
        <!-- address section end -->

        <div class="col-md-4 col-sm-12 mt-4 news">
            <h3 style="font-family: sans-serif; font-size: 18px; font-weight: 600; text-align: center;">Latest News</h3>

            
                <input type="email" placeholder="enter email" style="line-height: 37px; margin-left: 60px;">
                <button type="submit" class="btn btn-dark"><i class="fa-regular fa-paper-plane" style="color: #f9fafb;"></i></button>
            
        </div>
    </div>
    <!-- row section end -->    
</div>
<!-- container section end -->
